In [16]:
import pandas as pd
import os
import re

In [30]:
df = pd.read_excel(r"C:\Users\yingyy\Desktop\1.xlsx",header = 1)

In [31]:
df.head()

,asin,$merchant_name,subject_keyword.value,subject_keyword#2.value,subject_keyword#3.value,subject_keyword#4.value,subject_keyword#5.value,subject_keyword#6.value,subject_keyword#7.value,subject_keyword#8.value,...,subject_keyword#92.value,subject_keyword#93.value,subject_keyword#94.value,subject_keyword#95.value,subject_keyword#96.value,subject_keyword#97.value,subject_keyword#98.value,subject_keyword#99.value,subject_keyword#100.value,subject_keyword#101.value
0,1326019171,amazon_co_uk,General & Literary Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1273761308,amazon_co_uk,History: World & General,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1170183638,amazon_co_uk,Linguistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1363347489,amazon_co_uk,History: World & General,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1597094447,amazon_co_uk,GENERAL,General Adult,Non-Fiction,Poetry,Poetry Texts & Poetry Anthologies,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
def clean_cell(x):
    x = re.sub('^[=/-]+', '', str(x).strip())
    return x

In [33]:
df.apply(lambda x: clean_cell(x) if x.name.lower != 'asin' else x)

asin                         0    1326019171\n1    1273761308\n2    1170183...
$merchant_name               0    amazon_co_uk\n1    amazon_co_uk\n2    ama...
subject_keyword.value        0    General & Literary Fiction\n1      Histor...
subject_keyword#2.value      0              NaN\n1              NaN\n2     ...
subject_keyword#3.value      0            NaN\n1            NaN\n2         ...
                                                   ...
subject_keyword#97.value     0   NaN\n1   NaN\n2   NaN\n3   NaN\n4   NaN\n5...
subject_keyword#98.value     0   NaN\n1   NaN\n2   NaN\n3   NaN\n4   NaN\n5...
subject_keyword#99.value     0   NaN\n1   NaN\n2   NaN\n3   NaN\n4   NaN\n5...
subject_keyword#100.value    0   NaN\n1   NaN\n2   NaN\n3   NaN\n4   NaN\n5...
subject_keyword#101.value    0   NaN\n1   NaN\n2   NaN\n3   NaN\n4   NaN\n5...
Length: 103, dtype: object

In [34]:
df.to_excel(r"C:\Users\yingyy\Desktop\2.xlsx",startrow=1,encoding="utf-8",index = False)